.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #8FC1DF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

/* Navigazione */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li button {
    text-decoration: none;
    font-size: 16px;
    color: #11255F;
    transition: color 0.3s ease;
}

nav ul li button:hover {
    color: #11255F;
}





